
.container {
  max-width: 800px;
  margin: 0 auto;
  height: 300px;
  margin-bottom: 250px;
}


.swiper_container {
  height: 50rem;
  position: relative;
}

.swiper-slide {
  width: 30rem;
  height: 30rem;
  position: relative;
}



.swiper-slide .img_ {
  width: 37rem;
  height: 4rem;
  border-radius: 2rem;
  object-fit: cover;
}

.img_{
  border-radius: 1rem;
  border: 1px solid rgb(213, 213, 213);
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}



.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  /* filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1)); */
}

.slider-controler .slider-arrow .ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}



.buttonNext, .buttonPrev{ 

  background-color: var(--white);
  width: 2rem !important;
  border: 1px solid black;

}



/* .container {
  max-width: 800px;
  margin: 0 auto;
  height: 300px;
  margin-bottom: 300px;
} */

@media (max-width: 1200px) {
  .container {
      margin:  auto;
      margin-bottom: 200px;

  }

}

@media (max-width: 992px) {
  .container {
      margin:  0px;
      margin-bottom: 200px;

  }
  .img_{
    width: 20rem;

  }
}


@media (max-width: 500px) {


  .container {
      margin:  0px 0px ;
      width: 100%;
      margin-bottom: 200px;

  }
  .img_{
    width: 18rem;

  }
  .pagination{
    display: none !important;
  }

}