.container {
    margin: auto !important;
    height: 480px !important;
    width: 370px !important;
}

.enable{
    display: none !important;
}



@media (max-width: 576px) {
    .container {
        margin: auto !important;
        /* height: 40px; */
        width: 350px !important;
    }
    .secctionButtons{
        display: none !important;
    }
    .enable{
        display: block !important;
    }
    
    .buttonDownload{
    
        margin-top: 6rem !important;
        }
}



@media (max-width: 400px) {
    .container {
        margin: auto !important;
        /* height: 40px; */
        width: 265px !important;
    }
    /* .secctionButtons{
        display: none;
    } */
}

