.container {
    border: 1.32px solid var(--primary2-100);
    background-color: var(--white);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 3.51px;
    /* gap: 7.02px; */
    cursor: pointer;
}


.primary {
    background: var(--primary2-100);
    color: white;
}

.secundary {
    /* background: var(--primary2-100); */
    color: var(--primary2-100);
}



.primary:hover {
    border-radius: 0.3125rem;
    border: 1.32px solid var(--primary2-hover);
    background: var(--primary2-hover);
}

.secundary:hover {
    background: var(--primary2-100);
    color: var(--white);


}

.small {
    font-weight: 500 !important;
    width: 9.5rem;
    height: 2.5rem;
    flex-shrink: 0;
}

.x-small {
    /* font-weight: 500 !important; */
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    font-size: 0.3rem;

}

.medium {
    font-size: 19.55px;
    width: 198px;
    height: 52px;
    flex-shrink: 0;
}

.large {
    font-size: 14px;
    width: 263.29px;
    height: 40.41px;
}


.type2 {
    border-radius: 0.3125rem;
    border: 2px solid #D76331;
    background: #FFF;
    color: #D76331;
}

.type2_isSelected {
    background-color: #D76331 !important;
    color: #ffffff;
    box-shadow: 0 0 5px rgb(63, 63, 63)
}

.type2:hover {

    color: #ffffff;
    background-color: #D76331;
}

.third {
    background-color: white;
    border: none !important;
    max-width: 3rem !important;
    height: 3rem !important;
    /* border-radius: 1rem !important; */
    color: var(--gray);

}

.fourth {
    background-color: var(--primary1-100);
    border: none !important;
    max-width: 6rem !important;
    height: 2rem !important;
    color: var(--white);

}

.fourth:hover {
    background-color: var(--primary1-hover);
 

}

.reserved{
    background-color: var(--error-200);
    border: none !important;
    max-width: 6rem !important;
    height: 2rem !important;
    color: var(--white);
}