@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Space+Grotesk:wght@300..700&display=swap');

.container {
    background: var(--primary1-25);
    padding: 0 83px;
}

.secctionOptions {

    display: flex;
    flex-direction: column;



}



.option {

    font-size: 15px;
    color: var(--primary1-5);
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin: 0.5rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    cursor: pointer;

}

.option:hover {


    text-decoration: underline;
    text-decoration-color: white;


}

.titleLinks {
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    margin-right: 12px;
    text-align: center;


}

.secction_1,
.secction_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 34px 0;
}

.secction_links {


    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.secction_saveDate {

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.divIcon {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary2-100);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--primary2-100);
    border-radius: 1.2rem;
    text-align: center;
    margin: auto; */
    border-radius: 1rem;
    margin: 0px 8px;
}

.divIcon:hover {

    background-color: var(--primary2-hover);

}


.divIcon .icon {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    text-align: center;
    margin: auto;
}

.secction_links_icons {
    display: flex;
    flex-direction: row;
}

.secctionLogo {
    display: flex;
    justify-content: end;
}


@media (max-width: 970px) {
    .secction_1 {
        /* display: grid; */
        grid-template-columns: 1fr;
        /* display: flex; */
        /* justify-content: center; */
        /* padding: 34px 0; */
    }

    .secction_links,
    .secction_saveDate {

        margin: auto;
    }

    .secction_links {
        padding-bottom: 2rem;
    }


}


@media (max-width: 700px) {

    .secction_2 {
        /* display: grid; */
        grid-template-columns: 1fr;
        /* padding: 34px 0; */
    }

    .secctionLogo {
        justify-content: center;

    }

    .container {
        padding: 0 50px;
    }

}


@media (max-width: 570px) {


    .titleLinks,
    .option {

        font-size: 0.8rem;
    }

    .secction_links_title {
        padding-bottom: 1rem !important;

    }

    .container {
        padding: 0 20px;
    }

    .secction_links {
        flex-direction: column;

    }
}

@media (max-width: 400px) {
    .secction_saveDate{
        flex-direction: column;
    }


}