.container {
    margin: 50px 100px;
    box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
    padding: 30px;
}

.title {
    font-size: 24px !important;
    font-family: "Rubik", sans-serif;
    color: var(--primary2-25);
    font-weight: bold;
    padding-bottom: 40px;
    text-align: center;
}

.subTitle {
    font-size: 14px;
    color: #282A37;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.div-data-table {
    min-width: 100%;
    display: flex;
    /* padding-right: 1rem; */
    justify-content: start;
    margin: auto;
    overflow-x: auto;
}


.data-table {
    /* // text-align: center; */
    border-collapse: collapse;
    font-size: 0.8rem;
    /* // border: 3px solid #ddd; */
    border: none;
    width: 100%;
    /* margin-bottom: $baseline*2; */



}


.reserved {
    text-decoration: line-through;
    color: #999; /* Cambia el color de la fila reservada a gris */
  }
  


.data-table thead th {

    /* border-top: 1px solid rgb(201, 200, 200); */
    border-bottom: 1px solid rgb(201, 200, 200);
    padding: 0 10px 0 10px;
    text-align: center;
    color: var(--primary2-25);
    min-width: 100px;
    font-size: 0.8rem;
    font-weight: 700 !important;


}



.data-table thead th {
    font-size: 0.75rem !important;


}



.data-table td,


.data-table th {
    border-bottom: 1px solid rgb(223, 222, 222);
    /* padding: 0 10px; */
    font-size: 0.7rem;
    text-align: center;
}




.data-table td a {
    color: rgb(89 89 89);

}






.data-table th {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    /* border: 1px solid #c8c0c0; */
    /* color: rgb(89 89 89); */
    height: 2rem;
    margin: 0;
    padding: 0em 0em;
    text-align: center;
    margin: auto;
    font-size: 0.7rem;

    /* // display: flex; */
    /* // flex-direction: row; */
    /* // max-width: 100%; */
    /* // width: 100%; */
    /* // height: 100%; */


}




.data-table thead tr th {
    /* background-color: rgb(193, 17, 17); */
    /* display: flex; */
    /* background: tomato; */
    text-align: center;
    margin: auto;
    font-size: 0.7rem;
    opacity: 0.8;
    font-size: 1rem;

}


@media (max-width: 1200px) {
    .container {
        margin: 50px 30px;
        padding: 20px;


    }

}

@media (max-width: 1020px) {
    .container {
        margin: 30px 30px;
        /* padding: 15px; */


    }

}

@media (max-width: 570px) {
    .container {
        margin: 30px 20px;
        /* padding: 10px; */


    }

}


@media (max-width: 500px) {


    .container {
        /* margin: 50px 50px; */


    }
}